* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
}

body {
    background-image: url('../img/9a54be7c-c26b-4b81-af52-eb6ba48e2e00.jfif');
    background-size: cover;
    background-repeat: no-repeat;
}

.icone-pizza img {
    height: 85px;
    margin-top: 20px;
}

.bloco {
    width: 650px;
    height: 550px;
    padding-top: 40px;
    border-radius: 50px;
    background: rgba(166, 137, 110, 0.50);
    backdrop-filter: blur(59.5px);
    margin-left: 200px;
}

.textos {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;

}

.textos h1 {
    margin-top: 20px;
}

.textos h3 {
    margin-left: 55px;
    width: 500px;
    margin-top: 40px;
    padding-left: 50px;

}

.icone-pizza h2 {
    color: white;
    float: right;
    margin-right: 880px;
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}

.login {
    width: 400px;
    display: block;
    color: #fff;
    bottom: 40px;
    position: relative;
    margin-left: 50px;
}


.login input {

    display: block;
    margin: 20px;
}

.login input[type=text] {
    font-size: 25px;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding: 30px;
    color: white;
    border: none;
    display: block;
    background: transparent;


}

.login input::placeholder {
    color: white;
    opacity: 1;
}


.login input[type=password] {
    font-size: 25px;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding: 30px;
    color: white;
    border: none;
    display: block;
    background: transparent;
}

.botao button {
    width: 200px;
    height: 50px;
    border-radius: 15px 15px 15px 15px;
    margin-left: 160px;
    bottom: 60px;
    position: relative;
    border: none;
    font-weight: bold;
    color: rgba(50, 25, 1, 0.5);
}

.botao {
    text-align: center;
}

.texto-fim h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 255px;
    position: relative;
    bottom: 70px;
    width: 200px;
    margin-top: 5px;
    
}

.icone-email {

    margin-top: 50px;
    margin-left: 100px;
    display: flex;
}

.icone-email img {
    position: relative;
    margin-right: 30px;
    width: 50px;
    height: 25px;
    top: 50px;
}
.icone-senha {
    margin-top: 5px;
    margin-left: 100px;
    display: flex;
    position: relative;
    bottom: 70px;
}

.icone-senha img {
    position: relative;
    margin-right: 30px;
    width: 50px;
    height: 25px;
    top: 50px;
}

